.input {
  flex: 1;
  position: relative;

  input[type="text"] {
    width: 100%;
    position: relative;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    flex: 1;
    padding: 10px;
    margin-right: 10px;
  }

  .error-message {
    background: var(--white-color);
    position: absolute;
    padding: 3px;
    border-radius: 10px;
    border: 1px solid rgba(255, 83, 65, 0.15);
    left: 0;
    bottom: 40px;
    font-size: 12px;
    color: var(--accent-color);
  }
}
.error-input {
  input[type="text"] {
    border: 1px solid var(--accent-color);
  }
}
