.chats-container {
    display: flex;
    width: 100vw;
    height: 100%;
    position: relative;

  .chat-list {
    width: 300px;
    background-color: var(--white-color);
    border-right: 1px solid var(--border-color);
  }

  .chat-list .up-block {
    justify-content: space-between;
    display: flex;
    padding: 0 20px;
  }

  .chat-items {
    display: flex;
    flex-direction: column;
    max-height: calc(100% - 170px);
    overflow-y: scroll;
  }

  .create-chat {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-top: 1px solid var(--border-color);
    position: relative;
    bottom: 0;
  }

  .input-area {
    border-top: 1px solid var(--border-color);
    padding: 15px;
    display: flex;
    gap: 10px;
  }
}

.add-chat {
  text-align: center;
  background: var(--primary-color);
  color: var(--white-color);
  padding: 10px;
  border-radius: 7px;
  margin-top: 10px;
}

.chat-loader {
  width: 80px;
  height: 80px;
  position: relative;
  top: 50%;
  border: 3px solid rgb(0 0 0 / 10%);
  border-radius: 50%;
  border-top-color: var(--primary-color);
  animation: spin 1s ease-in-out infinite;
  margin: 0 auto;
}
