.form-container {
    max-width: 340px;
    min-height: 450px;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 38px 32px;
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: 0 0 6px rgb(0 0 0 / 10%);
}

.form-container form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
}

.form-group {
    margin-bottom: 20px;
}

.form-button-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}

.form-title {
    margin-bottom: 40px;
}

.form-title h1 {
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 40px;
}
