:root {
    --primary-color: #3168fa;
    --white-color: #fff;
    --accent-color: #ff5341;
    --light-color: #a2a2a2;
    --border-color: #e6e6e6;
    --secondary-color: #333;
    --chat-sender-color: #f8f8f8;
    --chat-receiver-color: #e4edfd;
    --chat-window-color: #edf2ff;
    --chat-item-color: #e4edfd;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 2px;
    color: gray;
    font-size: 9px;
}

p {
    text-align: center;
}

.loader {
    width: 30px;
    height: 30px;
    border: 3px solid rgb(0 0 0 / 10%);
    border-radius: 50%;
    border-top-color: var(--primary-color);
    animation: spin 1s ease-in-out infinite;
    margin: 0 auto;
}
