.form-group {
    label {
        display: block;
        margin-bottom: 2px;
        color: gray;
        font-size: 9px;
    }

    input[type="text"],
    input[type="email"],
    input[type="phone"],
    input[type="password"] {
        font-size: 14px;
        width: 100%;
        padding: 10px 0;
        border: none;
        border-bottom: 1px solid var(--border-color);
        outline: none;
        transition: border-color 0.3s;
    }

    input[type="text"]::placeholder,
    input[type="email"]::placeholder,
    input[type="password"]::placeholder {
        color: transparent;
    }

    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="password"]:focus {
        border-bottom: 1px solid var(--primary-color);
    }

    input[type="text"]:focus::placeholder,
    input[type="email"]:focus::placeholder,
    input[type="password"]:focus::placeholder {
        color: var(--light-color);
    }

  .error-message {
    margin-top: 5px;
    font-size: 9px;
    color: #ff5341;
  }
}
